@model Cosmos.Cms.Common.Models.ArticleViewModel
@{
    Layout = null;
    ViewData["Title"] = Model.Title;
    var menuUrl = $"/Home/CcmsContentIndex/{Model.Id}";
}
<!DOCTYPE HTML>
<html lang="@Model.LanguageCode">
<head>
    <title>@Model.Title</title>
    @Html.Raw(Model.Layout.Head)
    @*
    Page specific header
    *@
    @Html.Raw(Model.HeadJavaScript)
</head>
<body>
    @Html.Raw(Model.Layout.HtmlHeader)
    @Html.Raw(Model.Content)
    @Html.Raw(Model.Layout.FooterHtmlContent)
    <form id="frm__ccmsxsr">
        @Html.AntiForgeryToken()
    </form>
    @Html.Raw(Model.FooterJavaScript)
</body>
</html>